video{
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
}

.hero-section{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: auto;
}

.hero-section h1{
    text-align: center;
    margin: 0px;
    padding: 5px;
    color: white;
}

.hero-section h2{
    text-align: center;
    margin: 0px;
    padding: 5px;
    color: white;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.navbar li{
    display: inline-block;
    text-align: center;
    list-style: none;
    margin-left: 100px;
    padding: 20px;
}

.navbar li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: cornflowerblue;
    font-size: 20px;
    transition: 2s;
}

.navbar li a:hover{
    color: white;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
}